.imagePost {
    width: 30vw;
    float: left;
    margin: 0px 3vw 3vw 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28);
    border-radius: 8px;
}

p {
    max-width: 85vw;
    text-align: justify;
}

.pubBy {
    margin-top: -16px;
    margin-bottom: 24px;
    font-style: italic;
}