/* Limitação no comprimento do parágrafo */
p {
    max-width: 85vw;
    text-align: justify;
}

/* Caixa com os membros */
#membersHolder {
    display: flex;
}

/* Bloco do membro */
.member {
    width: 38vw;
    height: 25vw;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28);
    border-radius: 16px;
    margin-right: 24px;
    transition-duration: 300ms;
    text-decoration: none;
    color: var(--dark);
    padding: 24px;
    align-items: center;
    text-align: center;
}

/* Título do membro */
.member h3 {
    color: var(--dark);
}

/* Parágrafos dos membros */
.member p {
    margin: 0;
}

/* Grupo de título */
hgroup h2,
hgroup h3 {
    margin: 8px;
}

hgroup {
    margin-bottom: 24px;
}

/* Tamanho e arredondamento da foto dos membros */
.fotoMembro {
    border-radius: 50%;
    width: 10vw;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28);
}