/* Cores da página */
:root {
    --primary: #297373;
    --secondary: #ff3c38;
    --ter: #FF8C42;
    --ter-light: #ffc5a1;
    --light: #E6E6E6;
    --dark: #39393A;
}

/* Margens da sessão */
section {
    padding-left: 5vw;
    padding-bottom: 48px;
}

/* Cards da página inicial */
.cardRecent {
    width: 20vw;
    height: 25vw;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28);
    border-radius: 16px;
    margin-right: 24px;
    cursor: pointer;
    transition-duration: 300ms;
    text-decoration: none;
    color: var(--dark);
}

/* Card ao passar o mouse */
.cardRecent:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.28);
}

/* Imagem no interior do card */
.cardRecent img {
    width: inherit;
    border-radius: 16px;
}

/* Posição do bloco de texto no card */
.cardRecent div {
    margin-left: 16px;
    margin-right: 16px;
}

/* Título no card */
.cardRecent div h3 {
    color: var(--dark);
}

/* Parágrafo no card */
.cardRecent div p {
    margin: 0;
}

/* Último card */
.cardRecent.more {
    box-shadow: none;
    background-color: var(--ter-light);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Título no último card */
.cardRecent.more h2 {
    font-weight: 900;
}

/* Imagem de destaque da página inicial */
#sectionImage {
    width: 32vw;
    border-radius: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28);
    margin-left: 8vw;
}

/* Grupo da nossa história */
#nossaH {
    display: flex;
    align-items: flex-start;
}

#nossaH div p {
    text-align: justify;
}

/* Negrito colorido */
strong,
h1,
h2,
h3,
h4 {
    color: var(--secondary);
}