:root {
    --primary: #297373;
    --secondary: #ff3c38;
    --ter: #FF8C42;
    --ter-light: #ffc5a1;
    --light: #E6E6E6;
    --dark: #39393A;
}

section {
    padding-left: 5vw;
    padding-bottom: 48px;
}

.cardRecent {
    width: 20vw;
    height: 25vw;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28);
    border-radius: 16px;
    margin-right: 24px;
    cursor: pointer;
    transition-duration: 300ms;
}

.cardRecent:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.28);
}

.cardRecent img {
    width: inherit;
    border-radius: 16px;
}

.cardRecent div {
    margin-left: 16px;
    margin-right: 16px;
}

.cardRecent div h3 {
    color: var(--dark);
}

.cardRecent div p {
    margin: 0;
}

.cardRecent.more {
    box-shadow: none;
    background-color: var(--ter-light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardRecent.more h2 {
    font-weight: 900;
}

#sectionImage {
    width: 30vw;
    border-radius: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28);
    margin-left: 8vw;
}

#nossaH {
    display: flex;
    align-items: flex-start;
}

#nossaH div p {
    text-align: justify;
}

strong, h1, h2, h3, h4 {
    color: var(--secondary);
}